.login {
  max-width: 450px;
  margin: 5rem auto;
  box-shadow: 0 0 11px rgba(0, 0, 0, .3);
  padding: 2rem 1.5rem;
  border-radius: .5rem;
}

.error {
  width: 370px;
  margin: 0 auto 1.25rem auto;
  padding: .225rem;
  border-radius: 3rem;
  color: #fff;
  background: #e86877;
  display: block;
  text-align: center;
}

.login .title {
  font-size: 1.5rem;
  color: var(--purple-color);
  text-align: center;
  margin-bottom: 1.2rem;
  font-weight: var(--font-semibold);
}

.login .field {
  display: block;
  width: 100%;
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
}

.login .field .input {
  width: 100%;
  padding: .625rem 1rem;
  border-radius: .325rem;
  border: 1px solid #ccc;
  margin-top: .5rem;
  outline: none;
}

.submit {
  display: block;
  width: 250px;
  padding: .75rem;
  margin: 1.5rem auto;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  border: none;
  background: var(--purple-color);
  color: #fff;
  font-size: 1rem;
}

.google {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  width: 300px;
  padding: .75rem 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3rem;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.google img {
  margin-right: .5rem;
}

.google .logo {
  width: 20px;
  margin-right: .5rem;
}