<!DOCTYPE html> 
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valecito Hair</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/template.css' %}">
  <link rel="stylesheet" href="{% static 'img/icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'libraries/owlcarousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'libraries/owlcarousel/assets/owl.theme.default.min.css' %}">
</head>
<body>
  <main class="main">
    <header class="header">
      <div class="wrapper">
        <img src="{% static 'img/images/logo.png' %}" class="logo" />
        <nav class="menu">
          <a class="menu-link" href="#slide">Inicio</a>
          <a class="menu-link" href="#about">Quiénes somos</a>
          <a class="menu-link" href="#gallery">Clientes</a>
          <a class="menu-link" href="#contact">Contacto</a>
          <a class="menu-link" href="/reservar">Reservar</a>
          <a class="menu-link" href="/iniciar-sesion">
            <span class="icon-user"></span>
            Iniciar sesión
          </a>
        </nav>
        <button type="button" class="menu_mobile icon-menu" id="button_mobile_menu"></button>
      </div>
    </header>

    <div class="overlay" id="overlay"></div>

    <section class="mobile_aside mobile_aside--hide" id="mobile_aside">
      <nav class="menu">
        <a class="menu-link" href="#slide">Inicio</a>
        <a class="menu-link" href="#about">Quiénes somos</a>
        <a class="menu-link" href="#gallery">Clientes</a>
        <a class="menu-link" href="#contact">Contacto</a>
        <a class="menu-link" href="/reservar">Reservar</a>
        <a class="menu-link" href="/iniciar-sesion">
          <span class="icon-user"></span>
          Iniciar sesión
        </a>
      </nav>
    </section>

    
    <section class="slide_wrapper" id="slide">
      <div class="slide">
        <h2 class="slide-title">Valecito hair</h2>
        <p class="slide-description">Hair Dresser/Peluquere </p>
        <a class="slide-button" href="/reservar">Reserva tu hora</a>
      </div>
    </section>


    <section class="about_wrapper" id="about">
      <div class="about">
        <img class="about-image" src="{% static 'img/images/original/_dOLepYg.jpeg' %}">
        <h2 class="about-title">Quiénes somos</h2>
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium mollitia esse voluptatem sequi quod eligendi quibusdam, reprehenderit illo a dolorum ex doloremque omnis facere optio error. Porro consequuntur atque nam! Magnam aliquid tempore officiis tempora culpa, quia cupiditate unde, quaerat id reprehenderit ex aspernatur optio quod hic, animi distinctio dolorem?
        </p>
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium mollitia esse voluptatem sequi quod eligendi quibusdam, reprehenderit illo a dolorum ex doloremque omnis facere optio error. Porro consequuntur atque nam! Magnam aliquid tempore officiis tempora culpa, quia cupiditate unde, quaerat id reprehenderit ex aspernatur optio quod hic, animi distinctio dolorem?
        </p>
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium mollitia esse voluptatem sequi quod eligendi quibusdam, reprehenderit illo a dolorum ex doloremque omnis facere optio error. Porro consequuntur atque nam! Magnam aliquid tempore officiis tempora culpa, quia cupiditate unde, quaerat id reprehenderit ex aspernatur optio quod hic, animi distinctio dolorem?
        </p>
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium mollitia esse voluptatem sequi quod eligendi quibusdam, reprehenderit illo a dolorum ex doloremque omnis facere optio error. Porro consequuntur atque nam! Magnam aliquid tempore officiis tempora culpa, quia cupiditate unde, quaerat id reprehenderit ex aspernatur optio quod hic, animi distinctio dolorem?
        </p>
      </div>
    </section>

    <section class="gallery" id="gallery">
      <h2 class="gallery-title">Nuestros clientes</h2>
      <div class="owl-carousel">
        <img src="{% static 'img/images/gallery/1.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/2.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/3.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/4.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/5.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/6.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/7.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/8.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/9.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/10.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/11.jpg' %}" class="item"/>
        <img src="{% static 'img/images/gallery/12.jpg' %}" class="item"/>
        <div class="owl-dot"></div>
      </div>
    </section>

    <section class="contact_wrapper" id="contact">
      <div class="contact">
        <h2 class="contact-title">Contáctate con nosotros</h2>
        <p class="contact-phone"><span class="icon icon-phone"></span> +56 9 987654321</p>
        <p class="contact-mail"><span class="icon icon-mail"></span>  contacto@valecitohair.cl</p>
        <p class="contact-instagram">
          <a class="link" target="_blank" href="https://www.instagram.com/valecitohair"><span class="link-icon icon-instagram"></span> @valecitohair</a>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.7995184078686!2d-70.5951812849812!3d-33.42847078078021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf0c333fb677%3A0x5d61ccba19c83f52!2sMarcel%20Duhaut%202890%2C%20Providencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1601093226422!5m2!1ses-419!2scl" class="contact-map" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </section>

      
    
    <footer class="footer">
      <small>Todos los derechos reservados Valecito Hair 2020</small>
    </footer>
  </main>

  <script src="{% static 'libraries/jquery.min.js' %}"></script>
  <script src="{% static 'libraries/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/home.js' %}"></script>
</body>
</html>