<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
</head>
<body>
  
  <form action="/iniciar-sesion" method="POST">
    <label for="user">
      Usuario
      <input type="text" name="user" id="user">
    </label>
    <label for="password">
      Contraseña
      <input type="password" name="password" id="password">
    </label>
    <button  type="submit">Iniciar sesión</button>
    <hr />
    <button type="button">Iniciar con Google</button>
  </form>


</body>
</html>