<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/iniciar.css' %}">
  <link rel="stylesheet" href="{% static 'css/template.css' %}">
  <link rel="stylesheet" href="{% static 'img/icons/style.css' %}">
</head>
<body>
  
  <form class="login" method="POST">
    {% csrf_token %}
    <h1 class="title">Iniciar sesión</h1>
    <label class="field" for="usuario">
      Usuario
      <input class="field input" type="text" name="username" id="usuario">
    </label>
    <label class="field" for="contrasena">
      Contraseña
      <input class="field input" type="password" name="password" id="contrasena">
    </label>
    <button class="submit" type="submit">Iniciar sesión</button>
    <hr />
    <a class="google" href="{% url 'social:begin' 'facebook' %}">
      <img src="{% static 'img/images/fb.svg' %}" width="20px" />
      Login con facebook
    </a>
  </form>

</body>
</html>