<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/template.css' %}">
  <link rel="stylesheet" href="{% static 'img/icons/style.css' %}">
</head>
<body>
  
  <form action="/iniciar-sesion" method="POST">
    <label for="usuario">
      Usuario
      <input type="text" name="usuario" id="usuario">
    </label>
    <label for="contrasena">
      Contraseña
      <input type="password" name="contrasena" id="contrasena">
    </label>
    <button  type="submit">Iniciar sesión</button>
    <hr />
    <button type="button">Iniciar con Google</button>
  </form>


</body>
</html>