<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'img/icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'img/icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/template.css' %}">
  <link rel="stylesheet" href="{% static 'css/reservation.css' %}">
  <title>Reservar una hora</title>
</head>
<body>
  <main class="main">
    
    <header class="header">
      <div class="wrapper">
        <img src="{% static 'img/images/logo.png' %}" class="logo" />
        <nav class="menu">
          <a class="menu-link" href="/">Volver a inicio</a>
        </nav>
      </div>
    </header>

    <section class="container">
      {% if exito %}
        <div class="success" id="success">
          <span class="success-icon icon-check"></span>
          La hora fue reservada correctamente ¡te contactaremos pronto!
        </div>
      {% endif %}
      <form class="reservation" id="reservation" action="/validar-reserva" method="POST">
        {% csrf_token %}
        <h2 class="reservation-title">Reserva una hora</h2>
        <p class="reservation-description">
          Por favor completa los datos a continuación para hacer tu reserva.
        </p>
        <div class="field">
          <label class="field-label">Nombre completo</label>
          <input type="text" name="nombre" class="field-input" placeholder="Ej: Valentina Campos" required>
        </div>
        <div class="field">
          <label class="field-label">Correo electrónico</label>
          <input type="email" name="correo" class="field-input" placeholder="hola@dominio.com" required>
        </div>
        <div class="field">
          <label class="field-label">Teléfono</label>
          <input type="phone" name="telefono" class="field-input" placeholder="+56 9 12345678" required>
        </div>
        <section class="reservation-fields">
          <div class="field">
            <label class="field-label">Servicio</label>
            <select class="field-select" required name="servicio">
              <option value="" hidden selected disabled>Seleccionar...</option>
              <option value="corte">Corte</option>
              <option value="color_global">Color global</option>
              <option value="decoloracion_global">Decoloración global</option>
              <option value="bloque_color">Bloque color</option>
              <option value="babylights">Babylights</option>
              <option value="balayage">Balayage</option>
              <option value="retoque">Retoque crecimiento/canas</option>
              <option value="bano_color">Baño de color</option>
            </select>
          </div>
          <div class="field">
            <label class="field-label">Seleccionar hora</label>
            <select class="field-select" required name="hora">
              <option value="" hidden selected disabled>Seleccionar...</option>
              <option value="15:40">15:40hrs</option>
              <option value="16:40">16:40hrs</option>
              <option value="14:00">14:00hrs</option>
              <option value="18:00">18:00hrs</option>
            </select>
          </div>
        </section>
        <button type="submit" class="reservation-button" id="button">Reservar hora</button>
      </form>
    </section>
    </section>
  </main>

  <script type="application/javascript" src="{% static 'js/reservation.js' %}"></script>

</body>
</html>